[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/imjyotiraditya
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/imjyotiraditya
	label-Verified = -1..+1 group user/imjyotiraditya
	push = group user/imjyotiraditya
	read = group user/imjyotiraditya
	rebase = group user/imjyotiraditya
	removeReviewer = group user/imjyotiraditya
	submit = group user/imjyotiraditya
[access "refs/heads/*"]
	create = group user/imjyotiraditya
	push = +force group user/imjyotiraditya
	pushMerge = group user/imjyotiraditya
	read = group user/imjyotiraditya
[access "refs/tags/*"]
	push = group user/imjyotiraditya
	push = +force group user/imjyotiraditya
